*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}
body{
  width: 100%;
  height: 100%;
}
nav, ul{
   list-style: none;
}
a{
   text-decoration: none;
   cursor: pointer;
   opacity: 0.9;
}
a:hover{
   opacity: 1 ;
   color:rgb(229, 100, 94);
}

/*Cabeçalho*/

header{
   width: 100%;
   top: 0;
   left: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 15px;
   background-color: rgb(1, 23, 46);
}
header .img{
  background-image: url('img/logotipo.png');
  background-size: cover;
  width: 50px;
  height: 50px;
}
header .itens {
   display: flex;
   align-items: center;
   font-size: 20px;
}

header .itens nav{
   border-right: 1px solid white;
   margin-right: 10px;
}
header .itens nav ul{
   display: flex;
   color: white;
}
header .itens a{
   color: rgb(121, 177, 234);
   margin-right: 10px;
}
header .itens .input{
   background-color: rgb(121, 177, 234);
   padding: 10px;
   border-radius: 10px;
   color: white;
}
header .itens input[type="search"]{
  padding: 10px;
  border-radius: 10px;
  width: 180px;
  margin-right: 5px;
  border: none;
}
header .itens input[type="button"]{
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: rgb(65, 145, 237);
}
header .itens nav ul li{
   color: white;
}
header .itens nav li a{
   color: white;
}
header .itens nav ul { 
   display: flex;
}
header .itens nav li ul{
   padding: 0 20px 0 20px;
   position: absolute;
   background-color: rgb(1, 23, 46);
   margin-bottom: 10px; 
   border-radius: 0 0 8px 8px;
   z-index: 999;
   cursor: pointer;
   display: none;
}
header .itens nav li ul li{
   display: block;
   margin-bottom:10px ;
}

header .itens nav ul li a{ 
   display: block;
   padding: 10px 15px;
   color: #fff; 
   font-size: 20px;
   border: 1px solid;
   border-radius: 10px;
   border: none;
   transition: 0.4s;
}

header .itens nav ul li:hover ul {
   display: block;
}
header .itens nav ul li a:hover { 
   background-color: white; 
   color: black;
}
header .itens nav li ul li ul{
   padding: 0 20px 0 20px;
   position: relative;
   background-color: rgb(1, 23, 46); 
   margin-bottom: 10px; 
   border-radius: 0 0 8px 8px;
   z-index: 999;
   cursor: pointer;
   
}
header .itens nav li ul li ul li{
   display: block;
   margin-bottom:10px ;
   text-align: left;
   display: none;
}

header .itens nav ul li ul li a{ 
   display: block;
   padding: 10px 15px;
   color: #fff; 
   font-size: 20px;
   border: 1px solid;
   border-radius: 10px;
   border: none;
   transition: 0.4s;
}
header .itens nav ul li ul li:hover ul li{
   display: block;
}
header .itens nav ul li a:hover { 
   background-color: white; 
   color: black;
}
header button{ 
   display: none;
   cursor: pointer;
   border: none;
   background-color:transparent ;
   padding: 10 15px;  
   color: #fff;
}
header  button s { 
   font-size: 2rem;
}

/*Menu quando a tela for menor ou igual a 768px*/

.mobile_menu{ 
   display: none;
   flex-direction: column;
   background-color: rgb(1, 23, 46); 
   position: absolute;
   width: 360px;
   top: 80px;
   right: 0;
   z-index: 1;
   font-size: 20px; 
   padding: 15px; 
   border-radius: 0px 0px 8px 8px; 
}
.mobile_menu .itens-in{
   display: flex;
   justify-content: space-around;
}
.mobile_menu .itens-in a{
   color: rgb(121, 177, 234);
   padding: 10px;
}
.mobile_menu .itens-in .input{
   background-color: rgb(121, 177, 234);
   border-radius: 10px;
   color: white;
}
.mobile_menu ul{ 
   flex-direction: column; 
   color: #fff; 
   justify-content: center; 
   text-align: left; 
   margin-left: 10px; 
   padding: 5px 0 5px 30px;
}
.mobile_menu ul li{ 
   position: relative; 
   margin: 10px auto; 
}
.mobile_menu ul li a{ 
   border-radius: 10px;
   display: block; 
   padding: 10px 15px; 
   color: #fff; 
}
.mobile_menu ul li  ul li{ 
   margin-bottom: 10px; 
   cursor: pointer; 
   display: none; 
}
.mobile_menu ul li a:hover { 
   background-color: white; 
   color: black;
}
.mobile_menu ul li:hover ul li {
   display: block;
}
.mobile_menu ul li ul li ul{
   padding: 0 20px 0 20px;
   position: relative;
   background-color: rgb(1, 23, 46);; 
   margin-bottom: 10px; 
   border-radius: 0 0 8px 8px;
   z-index: 999;
   cursor: pointer;
   display: none;
}
.mobile_menu ul li ul li ul li{
   display: block;
   margin-bottom:10px ;
   text-align: left;
   
}
.mobile_menu ul li ul li ul li a{
   display: block;
   padding: 10px 15px;
   color: #fff; 
   border: 1px solid;
   border-radius: 10px;
   border: none;
   transition: 0.4s;
}
.mobile_menu ul li ul li:hover ul{
   display: block;
}
.mobile_menu ul li ul li ul li a:hover{
   background-color: white; 
   color: black;
}

@media (max-width : 1290px){
  header .itens nav ul li ul li a, header .itens nav ul li a, header .itens{
     font-size: 18px;
  }
}
@media (max-width : 1221px){
  header .itens nav ul li ul li a, header .itens nav ul li a, header .itens{
     font-size: 16px;
  }
}
@media (max-width : 1155px){
  header .itens nav ul li ul li a, header .itens nav ul li a, header .itens{
     font-size: 15px;
  }
}
@media (max-width : 1130px){
  header .itens nav ul li ul li a, header .itens nav ul li a, header .itens{
     font-size: 14px;
  }
}
@media(max-width:1090px){
  header .itens input[type="search"]{
      width: 110px;
      padding: 8px 7px 7px 8px;
      font-size: 14px;
  }
  header .itens input[type="search"]::placeholder{
      font-size: 8px;
  }
  header .itens input[type="button"]{
      padding: 8px 7px 7px 8px;
      font-size: 14px;
  }
}
@media (max-width : 1020px){
  header .itens input[type="search"]{
      width: 100px;
      padding: 7px 6px 6px 7px;
      font-size: 12px;
  }
  header .itens input[type="button"]{
      padding: 7px 6px 6px 7px;
      font-size: 12px;
  }
}
@media (max-width : 995px){
  header .itens input[type="search"]{
      width: 70px;
      padding: 7px 6px 6px 7px;
      font-size: 10px;
  }
  header .itens input[type="button"]{
      padding: 7px 6px 6px 7px;
      font-size: 10px;
  }
}
@media (max-width : 980px){
  header .itens nav ul li ul li a, header .itens nav ul li a, header .itens{
     font-size: 13px;
  }
}
@media (max-width : 896px){
  header .itens nav ul li ul li a, header .itens nav ul li a, header .itens{
     font-size: 12px;
  }
}
@media (max-width : 840px){
  header .itens nav ul li ul li a, header .itens nav ul li a, header .itens{
     font-size: 11px;
  }
}
@media (max-width : 805px){
  header .itens nav ul li ul li a, header .itens nav ul li a, header .itens{
     font-size: 10.1px;
  }
}
@media (max-width : 775px){
  header .itens .input, header .itens a{
     display: none;
  }
  header .itens input[type="button"]{
     margin-right: 5px;
  }
  header{
     flex-direction: row;
  }
  header .itens img {
     margin-bottom: 15px;
  }
  header .itens nav {
     display: none;
  }
  header button {
     display: grid;
  }
  .open{
     display: block;
  }
  header .itens input[type="search"]{
     padding: 10px;
     border-radius: 10px;
     width: 180px;
     margin-right: 5px;
     border: none;
 }
 header .itens input[type="button"]{
     background-color: #fff;
     padding: 10px;
     border-radius: 10px;
     border: none;
     color: rgb(65, 145, 237);
 }
  header .img{
     width: 40px;
     height: 40px;
  }
}
@media (max-width : 425px){
  .mobile_menu{
     width: 100%;
     font-size: 15px;
     border-top: 1px solid #fff;
  }
  header .itens input[type="search"]{
     width: 100px;
     padding: 8px;
 }
 header .itens input[type="search"]::placeholder{
     font-size: 8px;
 }
 header .itens input[type="button"]{
     padding: 7px 8px 7px 8px;
     font-size: 14px;
 }
}
@media(max-width:285px){
  header .itens input[type="search"]{
      width: 80px;
      padding: 4px 5px 4px 5px;
      margin-left: 5px;
  }
  header .itens input[type="button"]{
      padding: 4px 5px 4px 5px;
      font-size: 12px;
  }
}

#Apresentacao{
   background: #000;
   width: 100%;
   display: grid;
   align-items: center;
}
#Apresentacao .main{
   margin-top: 30px;
   margin-bottom: 30px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
#Apresentacao #imagem{
   max-width: max-content;
}
#Apresentacao #imagem img{
   width: 350px;
   height: 400px;
}
#Apresentacao .main div{
   display: grid;
   max-width: max-content;
   align-items: center;
}
#Apresentacao .main div h2{
   color: #fff;
   text-align: justify;
   font-size: 30px;
}
#Apresentacao .main div h2 b{
   color: rgb(57, 154, 238) ;
}
#Apresentacao .main div a{
   background-color: rgb(57, 154, 238);
   padding: 10px;
   padding-left: 40px;
   padding-right: 40px;
   border-radius: 10px;
   color: white;
   text-align: center;
   max-width: max-content;
   margin-top: 15px;
}
@keyframes animacao {
   from{position: relative; right: 0px;}
   to{position: relative; right: 25px;}
}
#imagem
{
   animation: animacao 3s 1s infinite alternate;
}
@media(max-width:775px){
   @keyframes animacao1 {
      from{position: relative; top: 0px;}
      to{position: relative; top: 20px;}
   }
   #imagem
   {
      animation: animacao1 3s 1s infinite alternate;
   }
   #Apresentacao .main{
       display: grid;
       justify-content: center;
   }
   #Apresentacao .main div{
       justify-self: center;
   }
   #Apresentacao .main div h2{
       text-align: center;
       margin-top: 20px;
   }
   #Apresentacao .main div a{
       justify-self: center;
       margin-bottom: 20px;
   }
   #Apresentacao #imgem{
       justify-self: center;
   }
}

@media(max-width:360px){
   #Apresentacao #imagem img{
       width: 250px;
       height: 250px;
   }
}
@media(max-width:425px){

   #Apresentacao .main div h2{
       font-size: 20px;
   }
}
@media(max-width:525px){

   #Apresentacao .imagem img{
       height: 250px;
   }
}

/*Slider */

.slider{
   margin: 40px auto;
   width: 800px;
   height: 400px;
   justify-content: center;
   overflow: hidden; 
}

.slides{
   width: 400%;
   height: 400px;
   display: flex;
}
.slides input{
   display: none;
}
.slide{
   width: 25%;
   position: relative;
   transition: 2s;
}
.slides img{
   width: 800px;
   height: 400px;
}
.manual-navegation{
   position: absolute;
   width: 800px;
   margin-top: -40px;
   display: flex;
   justify-content: center;
}
.manual-btn{
   border: 2px solid;
   padding: 5px;
   border-radius: 10px;
   cursor: pointer;
   transition: 1s;
}
.manual-btn:not(:last-child){
   margin-right: 40px;
}
.manual-btn:hover{
   background-color: #fff;
}
.slide-first.ativo{
   margin-left: 0;
}
.slide-seg.ativo{
   margin-left: -25%;
}
.slide-ter.ativo{
   margin-left: -50%;
}
.slide-quart.ativo{
   margin-left: -75%;
}
#radio1:checked ~ .first{
   margin-left: 0;
}
#radio2:checked ~ .first{ 
   margin-left: -25%;
}
#radio3:checked ~ .first{ 
   margin-left: -50%;
}
#radio4:checked ~ .first{ 
   margin-left: -75%;
}

.navegation-auto div{
   border: 2px solid #20a6ff;
   padding: 5px;
   border-radius: 10px;
   cursor: pointer;
   transition: 1s;
}
.navegation-auto{
   position: absolute;
   width: 800px;
   margin-top: 360px;
   display: flex;
   justify-content: center;
}
.navegation-auto div:not(:last-child){
   margin-right: 40px;
}
#radio1:checked ~ .navegation-auto .auto-btn1{
   background-color: black;
}
#radio2:checked ~ .navegation-auto .auto-btn2{
   background-color: black;
}
#radio3:checked ~ .navegation-auto .auto-btn3{
   background-color: black;
}
#radio4:checked ~ .navegation-auto .auto-btn4{
   background-color: black;
}
@media(max-width: 799px){
   .slider{
      width: 100%;
   }
   .navegation-auto, .manual-navegation{
      width: 100%;
   }
   .slides img{
      width: 100%;
   }
   
}
@media(max-width: 525px){
   .slider, .slides img, .slides{
       height: 250px;
   }
   .navegation-auto{
       margin-top: 210px;
   }
   
}
/*link-whatsApp*/

.link-whatsApp a{
   color: rgb(34, 231, 34);
   font-size: 60px;
   position: fixed;
   bottom: 20px;
   right: 15px;
   margin-bottom: 20px;
   margin-right: 15px;
   z-index: 1;
}

/* Secção que dá a aba cadastramento*/

#Cadastrar{
   display: flex;
   justify-content: space-between;
   background-color: rgb(1, 25, 48);;
   align-items: center;
   padding: 30px;
}
#Cadastrar img{
   border-radius: 10px;
}
#Cadastrar div:first-child{
   display: grid;
   width: 600px;
}
#Cadastrar div p{
   font-size: 20px;
   margin-bottom: 15px;
   color: #fff;
}
#Cadastrar div a{
   background-color: rgb(57, 154, 238);
   padding: 10px;
   padding-left: 40px;
   padding-right: 40px;
   border-radius: 10px;
   color: white;
   text-align: center;
   max-width: max-content;
}
@media(max-width:775px){
   #Cadastrar{
       display: grid;
       justify-content: center;
   }
   #Cadastrar div:first-child{
       width: 100%;
       margin-bottom: 10px;
   }
   #Cadastrar div a{
       justify-self: center;
       margin-bottom: 15px;
   }
   #Cadastrar div p{
       text-align: center;
       font-size: 18px;
   }
   #Cadastrar .img{
       justify-self: center;
       align-self: center;
   }
}
@media(max-width:425px){
   #Cadastrar div p{
       font-size: 15px;
   }
}
@media(max-width:320px){
   #Cadastrar .img img{
       width: 250px
   }
}

/*Formulário de login*/

.loginCorpo{
   background-color: black;
}
.loginImg{
   max-width: max-content;
   margin: auto;
}
.loginImg img{
   width: 70px;
}
.cimaCriar{
   max-width: max-content;
   margin: auto;
}
.cimaCriar a{
   color: #20a6ff;
}
#login{
   color: #fff;
   background-color: rgb(1, 23, 46);
   padding: 30px;
   border-radius: 20px;
   width: 400px;
   margin: auto;
   box-sizing: border-box;
   border: 1px solid #20a6ff;
   border-color: #20a6ff;
}
#login h1{
   text-align: center;
   color: white;
   font-size: 30px;
}
#login a{
   color: #41a0df;
}
#login a:hover{
   color: #20a6ff;
}
#login .inputCaixa{
   position: relative;
}
#login .inputCaixa input
{
   width: 100%;
   padding: 10px 0;
   color: #FFFFFF;
   letter-spacing: 2px;
   margin-bottom: 30px;
   border: none;
   border-bottom: 1px solid #FFFFFF;
   outline: none;
   background-color: transparent;
}
#login .inputCaixa label{
   position: absolute;
   left: 0;
   top: 0;
   padding: 10px 0;
   font-size: 16px;
   color: #FFFFFF;
   pointer-events: none;
   transition: .5s;
}
#login .inputCaixa input:focus ~ label,
#login .inputCaixa input:valid ~ label
{
   top: -18px;
   left: 0;
   color: #20a6ff;
   font-size: 12px;
}
.botao{
   max-width: max-content;
   margin: auto;
}
#login input[type="submit"] {
   background-color: transparent;
   border: none;
   outline: none;
   width: 300px;
   color: #FFFFFF;
   background-color: #20a6ff;
   padding: 10px 20px;
   cursor: pointer;
   border-radius: 5px;
   margin: auto;
}
form #senha, #email{
   border-color: #20a6ff;
}
form #btn:hover{
   background-color: blue;
}
.voltar{
   width: 280px;
   margin: auto;
   display: flex;
   justify-content: space-between;
}

/*Formulário de cadastramento*/
/*Registro*/

#Registro{
   background: rgb(1, 23, 46);
   width: 100%;
   display: grid;
   justify-content: center;
   align-items: center;
}
#Registro .all{
  display: grid;
  max-width: max-content;
  margin-top: 40px;
  margin-bottom: 40px;
}
#Registro .Registra-se{
   display: grid;
   margin-bottom: 10px;
}
#Registro .Registra-se h2{
   color: white;
   text-align: center;
   font-size: 25px;
   margin-bottom: 10px;
}
#Registro .Registra-se p{
   color: white;
   font-size: 18px;
}
#Registro .Registra-se p a{
   color: rgb(121, 177, 234);
}
#Registro form{
   justify-content: center;
   display: grid;
   align-items: center;
   padding: 30px;
   border-radius: 10px;
   border: 1px solid rgb(121, 177, 234);
   border-right: none;
   border-top: none;
   background-color: rgb(18, 36, 58);
}
#Registro form .inputs{
   display: flex;
}
#Registro form .inputs div{
   display: grid;
   margin-right: 30px;
}
#Registro form .inputs div:last-child{
   margin-right: 0;
}
#Registro form .inputs div input{
  background-color: rgb(42, 58, 73);
  width: 300px;
  height: 45px;
  padding: 5px;
  font-size: 15px;
  color: #fff;
  border: none;
}
#Registro form .inputs div input::placeholder{
  color: #efecec;
  opacity: 0.9px;
}
#Registro form .inputs div select{
  background-color: rgb(42, 58, 73);
  width: 300px;
  height: 45px;
  padding: 5px;
  font-size: 15px;
  color: #fff;
  border: none;
}
#Registro form .inputs div label{
   font-size: 18px;
   color: #fff;
   margin-top: 10px;
}
#Registro form .verf{
  display: grid;
  margin-bottom: 15px;
}
#Registro form .verf div{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
#Registro form .verf div input[type="checkbox"]{
  border: 1px solid  rgb(121, 177, 234);
  margin-right: 10px;
}
#Registro form .verf div input[type="submit"]{
  background-color: rgb(121, 177, 234);
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: white;
}
#Registro form .verf div .in{
  display: flex;
  margin-right: 25px;
}
#Registro form .verf div .in div{
  display: grid;
}
#Registro form .verf div .in div  b{
  color: #fff;
  font-size: 18px;
}
#Registro form .verf div .in div  p{
  color: #fff;
  text-align: justify;
}
@media(max-width: 700px){
  #Registro form{
     padding: 10px;
  }
  #Registro form .inputs{
     display: grid;
     justify-content: center;
 }
 #Registro form .inputs div{
     margin-right: 0;
     justify-content: center;
 }
 #Registro form .verf .in{
     justify-self: center;
     margin-right: 0;
 }
 #Registro form .verf div{
     display: grid;
     justify-self: center;
 }
 #Registro form .verf div input[type="submit"]{
     justify-self: center;
     margin-top: 10px;
 }
}
@media (max-width : 450px){
   #Registro form .inputs div input, #Registro form .inputs div select{
      width: 250px;
   }
 }
@media (max-width : 300px){
  #Registro form .inputs div input, #Registro form .inputs div select{
     width: 200px;
  }
}

/*Estilização da tela dos cursos*/

.corpoCurso{
   color: #FFFFFF;
   background-color: rgb(1, 23, 46);
}
.pai{
   max-width: max-content;
   margin: auto;
   margin-top: 70px;
}
.Mae{
   display: flex;
   max-width: max-content;
   margin: auto;
   margin: 30px;
}
.Mae h1{
   text-align: center;
}
.Mae p{
   text-align: center;
}

.Mae .filho{
   display: grid;
   width: 300px;
   margin-right: 20px;
   border-radius: 10px;
   background-color: #1b5f8b;
   cursor: pointer;
}
.Mae .filho img{
   width: 100%;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}
.Mae .filho .desc{
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   height: 250px;
}
.Mae .filho:hover{
  box-shadow: 0px 0px 80px #20a6ff;
  transition: .5s;
}


/*Rodapé*/

footer
{
   position: relative;
   width: 100%;
   padding: 10px;
   background-color: black;
   bottom: 0;
}
footer div{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   margin-bottom: 15px;
}
footer .links-uteis{
   display: grid;
   text-align: start;
}

footer .links-uteis a, footer div p{
   color: #fff;
   margin-bottom: 10px;
}
footer .links-uteis a:hover, footer div p:hover{
   opacity: 1; 
   color: rgb(92, 87, 87);
}
footer  .img-logotipo a{
   background-image: url('img/logotipo.png');
   background-size: cover;
   width: 50px;
   height: 60px;
}
footer .redes-sociais{
   display: grid;
}
footer .redes-sociais p{
   text-align: center;
   font-size: 20px;
   color: white;
   margin-bottom: 10px;
}
footer .redes-sociais ul{
   display: flex;
   justify-content: center;
}
footer .redes ul li{
   margin-left: 20px;
   font-size: 20px;
   color: white;
}
footer .redes ul li:first-child{
   margin-left: 0;
}
footer .redes ul li a:hover{
   color: rgb(18, 36, 58);
}
footer .redes ul li a{
   color: #fff;
}
@media(max-width:425px){
   footer .redes ul li{
      font-size: 18px;
   }
   footer .redes-sociais p{
      font-size: 15px;
   }
}

